.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    > div {
        background: var(--color-bg-variant);
        padding: 2.4rem 5rem;
        border-radius: 2rem;
        border: 3px solid transparent;
        transition: var(--transition);

        &:hover {
            background: transparent;
            border-color: var(--color-primary-variant);
            cursor: default;
            transform: scale(1.05);
        }

        h3 {
            text-align: center;
            margin-bottom: 2rem;
            color: var(--color-primary);
        }

        .experience__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 2rem;

            .experience__details {
                display: flex;
                gap: 1rem;

                .experience__details-icon {
                    margin-top: 6px;
                    color: var(--color-primary);
                    font-size: 20px;
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;

        > div {
            width: 80%;
            padding: 2rem;
            margin: 0 auto;

            &:hover {
                transform: none;
            }

            .experience__content {
                padding: 1rem;
            }
        }
    }

    @media screen and (max-width: 600px) {
        gap: 1rem;

        > div {
            width: 100%;
            padding: 2rem 1rem;

            &:hover {
                transform: none;
            }
        }
    }
}

[data-theme='light'] {
    .experience__container {
        > div {
            &:hover {
                background: transparent;
                border-color: var(--color-primary);
                h3 {
                    color: var(--color-primary);
                }
                .experience__content {
                    .experience__details {
                        h4 {
                            color: var(--color-primary);
                        }
                        small {
                            color: var(--color-black);
                        }
                        .experience__details-icon {
                            color: var(--color-primary);
                        }
                    }
                }
            }

            h3 {
                color: var(--color-white);
            }

            .experience__content {
                .experience__details {
                    .experience__details-icon {
                        color: var(--color-white);
                    }
                }
            }
        }
    }
}
